$mymaincolor: rgb(30, 165, 25);
$mytwocolor:green;
$mythirdcolor: orange;
$mygraycolor: rgb(202, 214, 202);
$myMargin:30px;
$myPadding:10px;
$mygap:10px;
$mymedium:885px;
$mysmall:450px;
$myFontsize:30px;