@mixin bg-img{
    background-position:center;
    background-size:cover;
    background-repeat: none;
}
@mixin flex-items ($justify) {
    display: flex;
    align-items: center;
    justify-content:$justify;
    
}
// @use 'sass:map';
// $breakPoints: (
//     small: 670px,
//     medium: 760px
// );
@mixin flexSize($size) {
    flex: $size;
}
@mixin flexBasis($size) {
    flex-basis: $size;
}
@mixin flexProp {
    @content;
}

// @media query with difference screen
@mixin responsiveSize($key) {
    $size: map.get($breakPoints, $key);
    @media(max-width:$size) {
        @content;    
    }
}