@import "../mixins/mixin";
@import "../global/variable";
.section1{
    background-image: url(../images/contact\ picture.png);
    @include bg-img;
    height: 30vh;
    padding:50px 20px;
    a{
        color:blue;
    }
    h1{
        margin-top: 70px;
        color:$mytwocolor;
        font-size: 50px;
        border-bottom:4px solid $mythirdcolor;
        width:280px;
    }
} 
